<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <div th:replace="fragments/header :: header-libs"></div>
</head>
<body>
<br>
<div th:replace="fragments/header :: header"></div>
<br>
    Edit quiz here
<br>
    <h3>Odpowiedzi do quiz-u: <span th:text="${quiz.quiz.quizName}"></span></h3>
    <form method="post" th:action="@{/quiz/edit}" th:object="${quiz}">
        <input type="hidden" name="quizId" th:value="${quiz.quiz.id}" >

        <ul th:each="item, stat : ${quiz.questions}">
            <li>
                Pytanie: <span th:text="${item.questionText}"></span>
                <br>
                Pytanie: <input type="text" th:field="*{questions[__${stat.index}__].questionText}" />
                <input type="hidden" th:field="*{questions[__${stat.index}__].questionId}" />
            </li>
        </ul>

        <input type="submit" value="Zapisz">
    </form>


</body>
</html>