<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
>
<head>
    <meta charset="UTF-8">
    <title>Quiz answer</title>
</head>

<body>


<form method="post" th:action="@{/quiz/quizAnswer}" th:object="${quizAnswer}">
    <input type="hidden"  th:field="*{questionId}" >
    answerText: <input name="answerText" type="text"  th:field="*{answerText}" >
    <br>
    <input type="submit" value="Add answer">

</form>


<br>
<p th:each="q : ${quizQuestion.quiz.questions}">
    <span th:text="${q.questionText}"></span>
</p>
<p th:each="qq : ${quizAnswer.quizQuestion.answers}">
    <span th:text="${qq.answerText}"></span>
</p>




<br>
<a th:href="@{/quiz/quizzes}"> Lista Quiz</a>



</body>
</html>