<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Quiz!!!</title>
    <div th:replace="fragments/header :: header-libs"></div>
</head>

<body>


<!--Logged user: <span sec:authentication="name">Bob</span>-->
<!--Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>-->


<!--/*@thymesVar id="quizForm" type=""*/-->
<form method="post" th:action="@{/quiz}" th:object="${quizForm}">
    Nazwa Quiz: <input name="quizName" type="text"  th:field="*{quizName}" >
<!--    <br>-->
<!--    user: <input name="user" type="text" th:field="*{user}">-->
    <br>
    <input type="submit" value="Dodaj Quiz">


</form>

</body>
</html>