<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Quiz!!!</title>
</head>

<body>


<form method="post" th:action="@{/quiz}" th:object="${quizForm}">
    quizName: <input name="quizName" type="text"  th:field="*{quizName}" >
    <br>
    question: <input name="question" type="text"  th:field="*{question}">
    <br>
    answer1: <input name="answer1" type="text"  th:field="*{answer1}" >
    <br>
    answer2: <input name="answer2"  type="text"  th:field="*{answer2}" >
    <br>
    answer3: <input name="answer3"  type="text"  th:field="*{answer3}" >
    <br>
    answer4: <input name="answer4" type="text"  th:field="*{answer4}" >

    <br>
    <input type="submit" value="Quiz">
    <br>
    <input type="submit" value="Zarejestruj">
</form>

</body>
</html>