<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="UTF-8">
    <title>Surveys and Quizzes!</title>
    <div th:replace="fragments/header :: header-libs"></div>
<!--    <img src="C:\Users\Dell\Pictures” alt=„Opis">-->

</head>



<body>
<div th:replace="fragments/header :: header"></div>
<h1> Surveys and Quizzes!!!</h1>





<!--Logged user: <span sec:authentication="name">Bob</span>-->
<!--Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>-->


<!--<p th:if="${msg != null}" th:text="${msg}"></p>-->
<!--<p th:if="${@permissionService.isUserInAnyRole('ADMIN', 'USER')}">-->
<!--    Witaj zalogowany użytkowniku!-->
<!--</p>-->

<ol>
<!--    <li th:if="${@permissionService.isUser()}">-->
<!--        <a> Link dostępny dla usera</a>-->
<!--    </li>-->

<!--    <img src="C:\Users\Dell\Pictures\quizzy.png” alt="Quizzy">-->

    <li>
        <a th:href="@{/quiz/quizzesAll}"> Lista wszystkich Quizów w systemie</a>

    </li>




    <li th:if="${@permissionService.isUser()}">
        <a th:href="@{/quiz/quizzes}"> Lista Twoich Quizów</a>
    </li>


    <li th:if="${@permissionService.isUserInAnyRole('ADMIN', 'USER')}">
        <a th:href="@{/quiz}"> Dodaj Quiz</a>
    </li>


<!--    <li th:if="${username}">-->
<!--        <a th:href="@{/quiz/ansewrs}"> Twoje odpowiedzi do Quizów</a>-->
<!--    </li>-->


</ol>
<!--<div th:replace="fragments/footer :: footer"></div>-->
</body>
</html>